<div id="strona">

  <div id="menu">
    <div class="menu-container"> 
      <img class="menu-logo" src="assets/images/logo.png">
      <div class="menu-logo-blok"> NAZWA </div>
      <div class="menu-blok"> Lorem ipsum </div>
      <div class="menu-blok"> Lorem ipsum </div>
      <div class="menu-blok"> Lorem ipsum </div>
    </div>
  </div>
  
  <div class="container">
    <div class="col-12 naglowek"><hr class="hr-top"><br><div>POLECAMY</div><br><hr class="hr-bottom"></div>
    <div class="row">
      <div class="col-sm wydarzenie-container"> 
        <div class="wydarzenie-hover"> Sanah to jedna z najciekawszych wokalistek z nurtu tzw. quality pop na polskiej scenie. W 2019 roku wydała szereg singli, którymi zainteresowała i zdobyła wielu fanów. W roku 2020 roku jej single  ,  i  pokochała cała Polska - na tyle, że debiutancka płyta sanah „Królowa dram” zadebiutowała na 1. miejscu list sprzedaży płyt OLiS i szybko zyskała status Platyny. Rok pozniej sukces ten powtorzyla z hitowym albumem „Irenka” - hity Ale jazz! , etc. (na disco) czy ten Stan ponownie podbiły wszystkie możliwe listy przebojów. Jesienią ukaże się reedycja „Irenki” a na niej m.in. najsłynniejszy nieznany utwór ostatnich miesięcy - Kolońska i szlugi! </div> 
        <img src="assets/images/koncert1.jpg"> 
        <p class="wydarzenie-opis">Sanah, 16 maja 2022, Torwar </p>
       </div>
      <div class="col-sm wydarzenie-container"> <img src="assets/images/koncert2.jpg"> <p class="wydarzenie-opis">Sarius, 22 maja 2022, Ergo Arena </p> </div>
      <div class="col-sm wydarzenie-container"> <img src="assets/images/koncert3.jpg"> <p class="wydarzenie-opis">Coldplay, 30 maja 2022, Stadion Narodowy </p> </div>
      <div class="col-sm wydarzenie-container"> <img src="assets/images/koncert3.jpg"> <p class="wydarzenie-opis">Metallica, 30 maja 2022, Hala Stulecia </p> </div>
    </div>
  
    <div class="col-12 naglowek odsun"><hr class="hr-top"><br><div>ZAREZERWUJ TERMIN</div><br><hr class="hr-bottom"></div>
    <div class="row" id="rezerwacje">
      <div class="col-4" id="kalendarz"></div>
      <div class="col-8" id="formularz">






          <div id=naglowek-formularz>
              Wyślij zgłoszenie o wydarzeniu, a my je rozpatrzymy
          </div>
          <form>
  
              <div class="form-row">
                  <div class="row"> 
                    <div class="col-4"> Nazwa użytkownika: </div> 
                    <div class="col-8 "> <input type=text id=login> <div class=help id=login-help onMouseOut=czysc() onMouseOver=loginPomoc()>?</div> <div id=login-pomoc class=pomoc></div> </div>
                   </div>
              </div>
  
              <div class="form-row">
                  <div class="row"> 
                    <div class="col-4"> Haslo: </div> 
                    <div class="col-8"> <input type=password id=haslo> <div class=help id=haslo-help onMouseOut=czysc() onMouseOver=hasloPomoc()>?</div> <div id=haslo-pomoc class=pomoc></div> </div>
                   </div>
              </div>
  
              <div class="form-row">
                  <div class="row"> 
                    <div class="col-4"> Powtórz haslo: </div> 
                    <div class="col-8"> <input type=password id=haslopow> <div class=help id=haslopow-help onMouseOut=czysc() onMouseOver=haslopowPomoc()>?</div> <div id=haslopow-pomoc class=pomoc></div> </div>
                   </div>
              </div>
  
  
              <div class="form-row">
                  <div class="row"> 
                    <div class="col-4"> Adres email: </div> 
                    <div class="col-8"> <input type=text id=email> <div class=help id=email-help onMouseOut=czysc() onMouseOver=emailPomoc()>?</div> <div id=email-pomoc class=pomoc></div> </div>
                   </div>
              </div>
              <div id=buttons>
                  <input type=button class=button value=Zatwierdź onclick=walidacja()>
                  <input type=reset class=button value=Wyczyść onclick=wyczysc()>
              </div>
          </form>
  
     




      </div>
    </div>

    <div class="col-12 naglowek odsun"><hr class="hr-top"><br><div>POCZUJ ATMOSFERĘ</div><br><hr class="hr-bottom"></div>
    <div id="galeria">
        <div class="row">
          <div class="col-sm galeria-container"> <img src="assets/images/koncert1.jpg"> </div>
          <div class="col-sm galeria-container"> <img src="assets/images/koncert2.jpg"> </div>
          <div class="col-sm galeria-container"> <img src="assets/images/koncert3.jpg"> </div>
        </div>
        <div class="row">
          <div class="col-sm galeria-container"> <img src="assets/images/koncert3.jpg"> </div>
          <div class="col-sm galeria-container"> <img src="assets/images/koncert1.jpg"> </div>
          <div class="col-sm galeria-container"> <img src="assets/images/koncert2.jpg"> </div>
        </div>
        <div class="row">
          <div class="col-sm galeria-container"> <img src="assets/images/koncert2.jpg"> </div>
          <div class="col-sm galeria-container"> <img src="assets/images/koncert3.jpg"> </div>
          <div class="col-sm galeria-container"> <img src="assets/images/koncert1.jpg"> </div>
        </div>
    </div>

  </div> 
  
  <div id="footer">
    <div class="footer-container">
       <div class="row">
        <div class="col-sm row"> 
          <div class="col-sm"> <h3>Kontakt</h3><br> Łódź, ul. Piotrkowska 120 <br> example@gmail.com <br> 555-555-555 <br> </div>
          <div class="col-sm"> <h3>O nas</h3><br> </div>
        </div>
        <div class="col-sm" id="footer-img-container">
          <img class="footer-img" src="assets/images/muzyk.png">
        </div>
       </div>
    </div>
  </div>


</div>

<div class="socialmedia share"> </div>
	<span id="socialmediaicons">
		<a href="#" target="_blank" class="socialmedia Facebook"> </a>
		<a href="#" target="_blank" class="socialmedia Twitter"> </a>
		<a href="#" target="_blank" class="socialmedia Google"> </a>
		<a href="#" target="_blank" class="socialmedia Youtube"> </a>
		<a href="#" target="_blank" class="socialmedia Instagram"> </a>
	</span>

