
.przycisk {
    width:45px;
    height: 45px;
    margin-top: 2px;
    line-height: 50px;
    border: 0px;
}

.przyciski {
    position: relative;
}

.nocny {
    background-color: rgba(26, 24, 24, 0);
    color: white;
    position:absolute;
    left:10px;
    top: 0px;
    visibility: visible;
}

.jasny { 
    background-color: rgba(100, 180, 255, 0);
    color: black;
    position:absolute;
    top: 0px;
    left: 10px;
    visibility: hidden;
}

img {
    width: 100%;
}



