<div class="container">
    <div class="box">
      <img alt="Czarno-białe zdjęcie wykonane podczas koncertu Sariusa" src="assets\images\k1.png">
    </div>
    <div class="box">
      <img alt="Sanah, grająca na scenie jednego z naszych lokali" src="assets\images\k2.png">
    </div>
    <div class="box">
      <img alt="Koncert Metallici przed olbrzymią publicznością" src="assets\images\k3.png">
    </div>
</div>

<div class="container">
    <div class="box">
      <img alt="Widowiskowe efekty wizualne w tle perkusisty" src="assets\images\k7.png">
    </div>
    <div class="box">
      <img alt="Efekty pirotechniczne podczas koncertu" src="assets\images\k6.png">
    </div>
    <div class="box">
      <img alt="Kobieta grająca na scenie, wyróżniona światłami reflektorów" src="assets\images\k5.png">
    </div>
</div>